@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700;800&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

.yanone-kaffeesatz-yanone {
  font-family: "Yanone Kaffeesatz", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.life-savers-bold {
  font-family: "Life Savers", serif;
  font-weight: 700;
  font-style: normal;
}

.life-savers-extrabold {
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-style: normal;
}


.relative-pos{
  position: relative;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.custom-shape-divider-bottom-1735635799 {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735635799 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1735635799 .shape-fill {
  fill: #122354;
}